body {
    background-color: var(--neutral-dark);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.cartao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cartao .advice {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral-medium);
    border-radius: 10px;
    margin: 20px;
    width: 345px;
}

.cartao .advice .advice-id {
    color: var(--primary-medium);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}

.cartao .advice .text-advice {
    color: var(--primary-soft);
    font-size: 23px;
    padding: 23px;
    text-align: center;
}

.advice picture img {
    width: 100%;
}

.cartao .advice .icone-botao {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-medium);
    transform: translateY(50%);
}

.cartao .advice .icone-botao:hover{
    color: #53FFAB; 
    box-shadow: 0 0px 30px 1px var(--primary-medium);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--primary-soft);
}

.attribution a {
    color: hsl(149, 45%, 44%);
}